@model IEnumerable<PetShopApiServise.DtoModels.Animals>
@{
    ViewBag.Title = "Index";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/styles/Home/Home.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        @foreach(var item in Model)
        {
            <div class="animal-item">
                <h2>@item.Name</h2>
                <p>@item.Age</p>
                <img class="animal-image" src="~/Images/Jako.png"  alt="@item.Name" />
              <div class="centerize">
                <a class="see-more" asp-controller="Home" asp-action="ShowAnimalById" asp-route-id="@item.AnimalId">See More</a>
            </div>
            </div>
        }
    </div>
</body>