@model IEnumerable<PetShopClientServise.DtoModels.Animals>

    <head>
        <link rel="stylesheet" href="~/styles/Admin/OverviewTable.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>


<table class="overviewTable">
    <thead>
      <tr>
        <th>Image</th>
        <th class="name-th">Name</th>
        <th class="id-th">Id</th>
        <th class="category-th">Category</th>
        <th class="age-th">Age</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
        {

        var ImageSrc = await Component.InvokeAsync("ByteToImgFile", new { ImgByte = item.Picture }); 
        var CategoryName = await Component.InvokeAsync("CategoryName", new { categoryId = item.CategoryId });

      <tr>
        <td><img src="@ImageSrc" alt="Animal Image" width="100"></td>
        <td>@item.Name</td>
        <td>@item.AnimalId</td>
        <td>@CategoryName</td>
        <td>@item.Age</td>
        <td>
     <form asp-controller="Admin" asp-action="AnimalDetailsEditor" method="post">
         <button type="submit" class="editBtn">Edit</button>
         <input type="hidden" name="id" value="@item.AnimalId" /> 
     </form>
</td>
<td>
          <form asp-controller="Admin" asp-action="DeleteAnimalById" method="post">
          <button type="submit" class="deleteBtn">Delete</button>
          <input type="hidden" name="id" value="@item.AnimalId" />   
           </form>
</td>
      </tr>            
        }
    </tbody>
  </table>

     <script>
    $(document).ready(function () {
        $('th').click(function () {
            var columnName = $(this).text().trim();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SortByColumnName", "Filter")' + '?columnName=' + columnName,
                success: function (data) {
                    $('#animalTable').html(data);
                    // refresh the page
                     location.reload();
                },
                error: function (xhr, status, error) {
                    console.log('Error: ' + error);
                    console.log('Status: ' + status);
                    console.log(xhr);
                }
            });
        });
    });


    $(document).ready(function() {
  $('.name-th, .id-th, .category-th, .age-th').hover(
    function() {
      $(this).css('background-color', 'gray');
      $(this).css('color', 'black');
      $(this).css('cursor', 'pointer');
    },
    function() {
      $(this).css('background-color', '');
      $(this).css('color', 'white');
    }
  );
});
</script>